{% extends 'auth/base.html' %}
{% block title %}
<title>HackChat - ログイン</title>
{% endblock %}
{% block body %}
<div class="auth-wrapper">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="auth-flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <div class="auth-cards">
    <!-- ログイン -->
    <div class="auth-card">
      <div class="auth-card-header">
        <h1 class="auth-card-title">
          <ion-icon name="flash" class="auth-logo-icon"></ion-icon>
          HackChat
        </h1>
        <p class="auth-card-description">ハッカソンチームの進捗管理チャット</p>
      </div>
      <form class="auth-form" method="post" action="{{ url_for('login_process') }}">
        <div class="auth-form-item">
          <input
            class="auth-form-input"
            type="email"
            name="email"
            id="login-email"
            placeholder="メールアドレス"
          />
        </div>
        <div class="auth-form-item">
          <input
            class="auth-form-input"
            type="password"
            name="password"
            id="login-password"
            placeholder="パスワード"
          />
        </div>
        <div class="auth-button-container">
          <button class="auth-button auth-button-gradient" type="submit">ログイン</button>
          <a class="switch-auth-mode" href="{{ url_for('signup_view') }}">アカウントを作成</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
{% endblock %}
