<div class="navigation">
  <div id="navigation-logo-container">
    <a href="{{ url_for('dashboard_view') }}" id="navigation-logo">
      <ion-icon name="chatbubble-outline" style="font-size: 20px; color: var(--chat-accent);"></ion-icon>
      <span class="nav-logo-text">HackChat</span>
    </a>
  </div>
  <ul>
    <li class="list {{ 'active' if active_nav == 'dashboard' else '' }}">
      <a href="{{ url_for('dashboard_view') }}">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="title">ホーム</span>
      </a>
    </li>
    <li class="list {{ 'active' if active_nav == 'tasks' else '' }}">
      <a href="{{ url_for('tasks_view') }}">
        <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
        <span class="title">タスク</span>
      </a>
    </li>
    <li class="list {{ 'active' if active_nav == 'channels' else '' }}">
      <a href="{{ url_for('channels_view') }}">
        <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></span>
        <span class="title">チャット</span>
      </a>
    </li>
    <li class="list {{ 'active' if active_nav == 'members' else '' }}">
      <a href="{{ url_for('members_view') }}">
        <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
        <span class="title">メンバー</span>
      </a>
    </li>
    <li class="list {{ 'active' if active_nav == 'settings' else '' }}">
      <a href="{{ url_for('settings_view') }}">
        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
        <span class="title">設定</span>
      </a>
    </li>
  </ul>
  <div class="logout-container">
    <a href="{{ url_for('logout') }}">
      <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
      <span class="title">Logout</span>
    </a>
  </div>
</div>
