{% extends 'error/base.html' %} {% block title %} error {% endblock %} {% block
body %}
<body class="error">
  <div class="error-wrapper">
    <div class="error-content">
      <div>
        <p class="error-num">4 0 4</p>
      </div>
      <div class="error-description error404or500">
        <p>ページが見つかりません</p>
        <a class="error-button pink" href="{{ url_for('dashboard_view') }}">戻る</a>
      </div>
    </div>
  </div>
  <img
    src="{{ url_for('static',filename='img/cat2.gif') }}"
    class="error-gif"
  />
</body>
{% endblock %} {% block script %} {% endblock %}
